In [1]:
import pandas as pd
import pymysql
import numpy as np
from sqlalchemy import create_engine

### 读取数据库

In [2]:
# engine = create_engine('mysql+pymysql://lujian:lujian@SF00627265LAS.sf.com:3306/ezhouhub_tf')
engine = create_engine('mysql+pymysql://dbqry:Query$#@!@10.202.56.205:3306/ezhouhub?charset=utf8')
od_parcel = pd.read_sql_table(r"i_od_parcel_2025v31_plus_mix",con=engine)

c:\users\89005076\appdata\local\programs\python\python36\lib\site-packages\pymysql\cursors.py:166: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 480")
  result = self._query(query)

In [54]:
od_parcel.head(10)
od_parcel.index=list(od_parcel['small_id'])

In [55]:
od_parcel.head()

,small_id,parcel_id,parcel_type,src_type,dest_type,plate_num,uld_num,arrive_time,send_time,plan_disallow_tm,actual_disallow_tm,src_apt,dest_apt,dest_city_code,ident_des_zno,plate_priority,inserted_on,modified_on,is_mixture
10000001,10000001,10000001,parcel,D,D,CSS224,ULD40245208,2025-02-08 00:36:36,NaT,NaT,NaT,WUX,CAN,20,20,None,2017-12-14 10:10:17,NaT,1
10000002,10000002,10000002,parcel,D,D,CSS224,ULD40245211,2025-02-08 00:34:16,NaT,NaT,NaT,WUX,CAN,20,20,None,2017-12-14 10:10:17,NaT,1
10000003,10000003,10000003,parcel,D,D,CSS224,ULD40245188,2025-02-08 00:30:54,NaT,NaT,NaT,WUX,CAN,20,20,None,2017-12-14 10:10:17,NaT,1
10000004,10000004,10000004,parcel,D,D,CSS224,ULD40245208,2025-02-08 00:36:36,NaT,NaT,NaT,WUX,CAN,20,20,None,2017-12-14 10:10:17,NaT,1
10000005,10000005,10000005,parcel,D,D,CSS224,ULD40245200,2025-02-08 00:24:06,NaT,NaT,NaT,WUX,CAN,20,20,None,2017-12-14 10:10:17,NaT,1

In [112]:
od_parcel_small_base=od_parcel.loc[od_parcel.parcel_type.isin(['small']),['small_id','parcel_id','plate_num','uld_num',]]

In [179]:
od_parcel_small=od_parcel_small_base.loc[od_parcel_small_base.src_type.isin(['I','D','INF']),:]

od_parcel_small_src=od_parcel_small_base.loc[od_parcel_small_base.src_type.isin(['R']),:]

In [182]:
# od_parcel_small.head()

          small_id  parcel_id plate_num      uld_num src_type dest_type
10313060  10313060        NaN    CSS224  ULD40245186        D         I
10313061  10313061        NaN    CSS224  ULD40245187        D         I
10313062  10313062        NaN    CSS224  ULD40245200        D         I
10313063  10313063        NaN    CSS224  ULD40245206        D         I
10313064  10313064        NaN    CSS224  ULD40245211        D         I

In [184]:
od_small=od_parcel_small.groupby('uld_num')

In [186]:
uld_num_dict={}
uld_num_list=[]
for uld_num,value in od_small:
    uld_num_dict[uld_num]=value
    uld_num_list.append(uld_num)

In [2]:
# od_small.head(10)

In [188]:
# 根据每一个ULD箱子,创建一个字典，每个字典里，根据流向存储列表

big_dict={uld:None for uld in uld_num_list}
for uld_num,value in uld_num_dict.items():
        big_dict[uld_num]=list(['small_id'])

In [189]:
len(big_dict['ULD39855532'][('I', 'D')])

102

In [192]:
for uld_num,line_dict in big_dict.items():
    n=1
    for line,val in line_dict.items():
        print(uld_num,line)
        le=len(val)/20
        b=len(val)//20
        if le>b:
            le=b+1
        else:
            le=b
        for i in range(le):
            list1=val[20*i:20*(i+1)]
            if list1:
#                 print(uld_num+'s'+str(n))
                od_parcel['parcel_id'][list1]=uld_num+'s'+str(n)
#                 od_parcel.loc[list1,['parcel_id']]=uld_num+'s'+str(n)
                n+=1

c:\users\89005076\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [196]:
od_land=od_parcel_small_src.groupby('plate_num')

In [200]:
plate_num_dict={}
plate_num_list=[]
for plate_num,value in od_land:
    plate_num_dict[plate_num]=value
    plate_num_list.append(plate_num)

In [201]:
big_dict_land={plate:[] for plate in plate_num_list}
for uld_num,value in plate_num_dict.items():
        big_dict_land[uld_num][i]=list(j['small_id'])

In [204]:
for plate_num,line_dict in big_dict_land.items():
    n=1
    for line,val in line_dict.items():
#         print(plate_num,line)
        le=len(val)/20
        b=len(val)//20
        if le>b:
            le=b+1
        else:
            le=b
        for i in range(le):
            list1=val[20*i:20*i+20]
            if list1:
                od_parcel['parcel_id'][list1]=plate_num+'s'+str(n)
                n+=1

c:\users\89005076\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [206]:
# engine_1 = create_engine('mysql+pymysql://root:root@localhost:3306/my_db?charset=utf8')

In [207]:
# 输入数据库
# od_parcel.to_sql('i_od_parcel_2025_detail',engine_1,if_exists='append',chunksize=20000,index=False)

c:\users\89005076\appdata\local\programs\python\python36\lib\site-packages\pymysql\cursors.py:166: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 480")
  result = self._query(query)